.boxTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 85%;
    height: 20px;
}

.boxTotal h3{
    font-weight: 600;
    font-size: 14px;
    color: var(--Color-grey-100);
}

.boxTotal p{
    font-weight: 600;
    font-size: 14px;
    color: var(--Color-grey-50);
}